@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

* {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: bold;
}



body::before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
    z-index: 100;
}

.main {
    background-color: rgb(237, 237, 237);
    padding: 1%;
    border-radius: 10px;
    -moz-box-shadow: inset 0 0 10px #0000005d;
    -webkit-box-shadow: inset 0 0 10px #0000005d;
    box-shadow: inset 0 0 10px #0000007c;
    width: 100%;
}

.start {
    width: 80px;
    height: 80px;
    background-image: radial-gradient(white, rgb(250, 0, 0));

    border: none;
    border-radius: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: .2s all cubic-bezier(0.215, 0.610, 0.355, 1);
    margin: 2rem;
}


.start:hover {
    background-image: radial-gradient(rgb(157, 52, 52), rgb(255, 0, 0));
    transform: scaleX(1.1) scaleY(1.1);
}

.hit-active {
    background-image: radial-gradient(rgb(250, 250, 250), rgba(255, 4, 4, 0.364));
    transform: scaleX(1.2) scaleY(1.2);
    box-shadow: 0 4px 8px 0 rgba(158, 0, 250, 0.46), 0 6px 20px 0 rgba(212, 0, 240, 0.433) !important;
}

.indicator {
    background-color: rgba(224, 222, 222, 0.611);
    border-radius: 50%;
    transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: inset 0 0 10px #6362627c;
    border: 1px solid rgba(0, 0, 0, 0.309);
}

.indicator-active {
    transform: scaleX(1.1) scaleY(1.1);
    border: 1px solid rgb(255, 0, 0);
}

.clear-fix {
    height: 1.5rem;
}


.card {
    margin: .5rem;
}

.pad {
    width: 45px;
    height: 45px;
    background-color: rgba(190, 144, 233, 0.645);
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
    opacity: 1;
    margin-right: .7rem;
}

.pad-active {
    background-color: rgb(123, 36, 204);

}

.pad:hover {
    background-image: radial-gradient(rgb(250, 250, 250), rgba(255, 4, 4, 0.364));
    transform: scaleX(1.2) scaleY(1.2) rotate(5deg);
}

.row .col-md-2 {
    background-color: white;
}